.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(../images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

.home .content {
  max-width: 800px;
}

.home .content h3 {
  font-size: 40px;
  color: #333;
}

.home .content span {
  font-size: 32px;
  color: #e84393;
  padding: 16px 0;
  line-height: 1.5;
}

.home .content p {
  font-size: 16px;
  color: #999;
  padding: 16px 0;
  line-height: 1.5;
}
